.bg-color {
  background: #021327;
}
#home{
 background: #021327;
}
#main {
  padding-top: 15%;
  padding-bottom: 5%;
  background: #021327;
}
.navbar-brand{
  width: 140px;
 
}
.heading {
  font-size: 4.5rem;
}

.heading>span,.feature-heading>span {
  color: #ff4969;
}

.first-btn {
  background: #ff4969;
  color: #ffffff;


}

.first-btn:hover {
  background: #ffffff;
  color: #ff4969;
}

.sec-container {
  position: relative;
  margin-top: 5px;
  width: 70px;
  height: 68px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

}

.sec-btn {
  color: #ff4969;
  width: 99%;
  height: 99%;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  padding-left: 12px;
  transition: 0.2s ease;

}

.bubble {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  animation: bubble 1s infinite ease-in;
}

.img-bar {

  background: #031d3a;

}

#feature,#service,#project,#Contact {
  padding-top: 8%;
  padding-bottom: 4%;

}

.box {
  background: #011830;
  padding: 4%;
  transition: 0.8s ease-in-out;
}

.box:hover {
  background: #021b38;
}

.logo {
  border: 15px solid #021327;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.feature-heading {
  font-size: 3rem;
}

#discover,#team ,#client{
  padding-top: 8%;
  padding-bottom: 4%;
  background: #011830;
}

.ticks {
  background: #e9e9e927;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-top: 8px;
}
.borders{
  border: 1px solid rgba(128, 128, 128, 0.26);
  transition: 0.5s ease;
}
.borders:hover{
  border: 1px solid #ff4969;
}
.p-color {
  color: #ff4969;

}

.img-2 {
  margin-top: 20%;
}

.card{
  position: relative;
  display: inline-block;
  overflow: hidden; /* Ensures text doesn't overflow when hidden */
}
.overlay {
  position: absolute;
  top: 1%;
  height: 100%;
  left: 0;
  width: 100%;
  color: #ffffff;
  padding: 10px;
  transform: translateY(50%);
  transition: transform 0.3s;
}
.card:hover .overlay{
  transform: translateY(0);
  
}
.card:hover .social-logo{
  opacity: 1;
}
.social-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #00000034;
  margin-top: 50px;
  opacity: 0;
  
}

.line{
  width: 100%;
  height: 7px;
  background: #7777;
  position: relative;
 
}
.design-line{
position: absolute;
width: 87%;
height: 7.5px;
background: #ff4969;

}
.development-line{
position: absolute;
width: 95%;
height: 7.5px;
background: #ff4969;

}
.marketing-line{
position: absolute;
width: 77%;
height: 7.5px;
background:  #ff4969;
}
.design-line::after{
  content: '87%';
 font-size: 1.3rem;
  z-index: 1;
  position: absolute;
   left: 105%;
   bottom: 50%;
}
.development-line::after{
  content: '95%';
 font-size: 1.3rem;
  z-index: 1;
  position: absolute;
   left: 96%;
   bottom: 50%;
}
.marketing-line::after{
  content: '77%';
 font-size: 1.3rem;
  z-index: 1;
  position: absolute;
   left: 119%;
   bottom: 50%;
}


.client-img{
 border-radius: 50%;
  margin-left: 43%;
  margin-top: -12%;
}
.carousel-item{
  position: relative;
}
.discription{
  margin: 5%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  padding: 3%;
  background: #031327;
  margin-left: 20%;
  margin-right: 20%;
}
.icon{
  color: #ff4969;
}
input,textarea{
  background: #00000000;
  text-decoration: none;
 border: transparent;
 border-bottom: 1px solid #7777;
 width: 37%;
}
input:focus{
  color: white;
  outline: none;
}
textarea,.subject{
  width: 79%;
}

.p-btn{
color: white;
border: 1px solid white;
}
.btn-active{
  background: #ff4969;
}

.img-overlay{
  position: relative;

 
}
.images{
  height: max-content;
  width: 100%;
  height: 100%;
}
.btn-overlay{
  position: absolute;
  top: 0%;
 
 height: 100%;
 width: 100%;
  background: #0000007a;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
  transition: 0.5s ease-in-out ;
  transform-origin:right;
 transform: scaleY(0%);
 transform-origin: top;

}
.img-overlay:hover .btn-overlay{
  transform: translateY(0%) ;
 transform: scaleY(100%);
  
}
.btn-border{
  border: 2px solid rgba(255, 255, 255, 0.288);
  padding: 5px;
  
}
.footer-icon{
  height: 150px;
}
.footer-heading{
  border-bottom: 3px solid #7777;
  width: fit-content ;
  margin-top: 20%;
  
}
.footer-btn{
  opacity: 75%;
}
.footer-btn:hover{
  opacity: 100%;
}
#footer{
  background: #011830;
  padding-top: 5%;
  padding-bottom: 2%;
}
@media screen and (max-width: 1088px) {
  .heading {
    font-size: 4rem;
  }

  .feature-heading {
    font-size: 2.5rem;
  }
  .navbar-brand{
    width: 120px;
   
  }
}

@media screen and (max-width: 998px) {
  .heading {
    font-size: 3.8rem;
  }

  .feature-heading {
    font-size: 2.3rem;
  }
  .footer-heading{
    margin-top: 15%;
  }
  .navbar-brand{
    width: 100px;
   
  }
}

@media screen and (max-width: 998px) {
  .heading {
    font-size: 3.4rem;
  }

  .feature-heading {
    font-size: 2rem;
  }
  .footer-heading{
    margin-top: 10%;
  }
  .navbar-brand{
    width: 90px;
   
  }
}

@media screen and (max-width: 770px) {
  .heading {
    font-size: 3rem;
  }

  .feature-heading {
    font-size: 1.8rem;
  }
  .footer-heading{
    margin-top: 8%;
  }
  .navbar-brand{
    width: 80px;
   
  }
}
@media screen and (max-width: 480px) {
  .number {
    font-size: 12px;
  }
  .heading {
    font-size: 2.5rem;
  }
  #main {
    padding-top: 18%;
   
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 2.2rem;
  }

  .feature-heading {
    font-size: 1.5rem;
  }
  #main {
    padding-top: 22%;
   
  }
}


@media screen and (max-width: 320px) {
  .number {
    font-size: 10px;
  }
  .heading {
    font-size: 2rem;
  }
  #main {
    padding-top: 27%;
   
  }
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.7);
    opacity: 0%;
  }
}

